*{
    margin: 0;
    padding: 0;
}
/* html body{
    height: 100%;
    width: 100%; 
} */
#container{
    display: grid;
    height:500px; 
    /* width:500px; */
    background-color: red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 43px 1fr 43px;
    row-gap: 10px;
    column-gap: 10px;

}
#items{
     /* height: 100%; */
    width: 122px;
    background-color: aqua;
    grid-column-start: 1 / 3;
}
#items1header{
    grid-column-start: 1 ;
    grid-column-end: 4;
    background-color: black;
    width: 100vw;
}
#items-footer{
    grid-column-start: 1 ;
    grid-column-end: 4;
    background-color: black;
    width: 100vw;
}
#items-2{
    width: 122px;
    background-color: aqua;
    grid-column-start: 1 / 3;
    justify-self: center;
}