*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width:100%;
    height :100%;
}
/* header start */
h1{
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 40px;
    padding-bottom:16px;
    font-size:32px;
    
}
#intro-content{
    color: white;
    display: grid;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight:initial;
    font-size: 14px;
}

#intro{
    background: hwb(203 0% 75%);
    height: 180px;
    padding: 50px;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size:large;
}

/* footer starts */

footer{
    background-color: #fdf3f3;
    padding: 30px 80px;
}
.about-content{
    font-weight: 200;
    font-size:14px;
}
#about{
    height: 160px;
    background-color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-items: center;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}
#education{
    background-color: #c9edfc;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    padding:20px 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heading{
    text-align: center;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.field{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-weight:normal;
    font-size: 14px;
}
#skills{
    height: 310px;
    text-align: center;
    background-color: #f8e7b6;
    border-radius: 5px;
    padding: 20px 100px;
    font-weight:bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#field{
    background-color: #fff;
    padding: 10px;
    border-radius:5px;
}
#projects{
    background-color: #e2d8fa;
    text-align: center;
    padding:20px 100px ;
    border-radius: 5px;
}
#contact{
    background-color: #cbf4d0;
    text-align: center;
    padding:20px 100px ;
    border-radius: 5px;
}
#foot{
    height: 100px;
    background-color:hwb(203 0% 75%);
    color: white;
    text-align: center;
    padding: 3%;
}